:root {
  --color-primary: #66735A;
  --color-secondary: #ffffff;
  --color-accent: #B54F45;

  --color-text-main: #42503a;
  --color-text-soft: #5f6a55;
  --color-border: #9aa58e;
  --color-surface-soft: #f5ecdf;
}
